<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<div id="auth">
  <% if user_signed_in? %>
    <%= link_to "Profile", current_user %>
    <%= link_to "Sign out",  destroy_user_session_path, method: "delete" %>
  <% else %>
    <%= link_to "Sign in",  new_user_session_path  %>
    <%= link_to "Sign up",  new_user_registration_path  %>
  <% end %>  
</div>

<%= link_to "New project", new_project_path %>
