<%= render @project %>

<p style="color: green"><%= notice %></p>

<div>
  <%= button_to "Edit this project", edit_project_path(@project) %> |
  <%= button_to "Back to projects", projects_path, method: :get   %> |
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>
